.navbar {
  text-align: left;
  padding: 1rem;
  position: sticky;
  top: 0;
  height: 80px;

  display: flex;
  flex-direction: row;

  /* background-color: rgba(47, 54, 64, 0.8); */
  background-color: #2f3640ea;

  z-index: 100;
}

.logo {
  width: 8rem;
}

.button {
  align-self: flex-end;
}
