.App {
  text-align: center;
  background-color: #353b48;
}

@font-face {
  font-family: "Cabin";
  src: url("./Cabin-Medium.ttf") format("truetype");
}

body {
  font-family: "Cabin" !important;
}

.bordered {
  border: black dashed 1px;
}
